sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t maor/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true maor/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "eu-west-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-eu-west-1-009122151460"
  bucket_path: "docker"
  on:
     branch: master
   access_key_id: $AWS_ACCESS_KEY
   secret_accesse_key: $AWS_SECRET_KEY

